{% extends "audify/layout.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block desktop %}
    <form class="row g-3" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="col-7">
            <label for="inputEmail2" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="inputEmail2">
        </div>

        <div class="col-7">
            <label for="inputPassword2" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword2">
        </div>

        <!--<div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck2">
            <label class="form-check-label" for="gridCheck2">
            Remember Me
            </label>
        </div>-->

        <div class="col-7">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>

    {{ message }}
{% endblock %}

{% block mobile %}
    <form class="row g-3" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="col-12">
            <label for="inputEmail4" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="inputEmail4">
        </div>

        <div class="col-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword4">
        </div>

        <!--<div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck4">
            <label class="form-check-label" for="gridCheck4">
            Remember Me
            </label>
        </div>-->

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>

    {{ message }}
{% endblock %}